table thead tr th{
  text-align: left;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}


