body {
  padding-top: 70px;
  padding-bottom: 30px;
}


table thead tr th{
  text-align: left;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

[contenteditable="true"]{
	color:green;
}

#pnlUsage table tr td.subtotal{
	font-size: 10px;
	color: #999;
	text-align: right;
}

.navbar-brand > img{
  display:inline;
}
.table tbody tr.trItem:hover{
  cursor: hand;
  cursor: pointer;
}
/*.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}*/

