
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" >About Solar Plan</h3>
  </div>
  <div class="panel-body">

    <div class="alert alert-warning alert-dismiss">
    <button type="button" 
            class="close" data-dismiss="alert" 
            aria-label="Close"><span aria-hidden="true">&times;</span></button>

    I am not an expert. 

    To get expert advise, or hire an installer, please visit 
    <a href="http://solarreviews.com">solarreviews.com</a>.
    
    </div>
<!--     
    <dl>
      <dt></dt>
      <dd>
      </dd>
    </dl>  
-->      
    <dl>
      <dt>Goals of Solar Plan</dt>
      <dd>
        <ol>
          <li>Help you estimate your electrial usage/needs</li>
          <li>Give a quick but hopefully close estimate of solar size/cost</li>
        </ol>
      </dd>
    </dl>     
    <dl>
      <dt>A watt saved is a watt earned</dt>
      <dd>
        <em>Conservation first!</em> Every watt you don't have to generate will save you money. 
        For example, rather than getting a 120v refrigerator that runs on an inverter, get 
        a DC refrigerator that is more efficient and does not need an inverter. It may seem 
        like you are saving money getting cheaper equipment/appliances but experience suggests otherwise.
      </dd>
    </dl>      
    <dl>
      <dt>What tools will I need?</dt>
      <dd>
        Just a <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=kill+a+watt">watt-meter</a> and some diligence. 
        You can get your total use from your electricity bill. 
        This app will help identify how each appliance is contributing to your bill.
        It may also help identify 'phantom loads' - electriciy that is being billed that is  unexplainable.
        <em>The average use for a US household is 1000 kWh a month. </em>
      </dd>
    </dl>     
    <dl>
      <dt>Why is usage broken down into Need, Want and Luxury priorities?</dt>
      <dd>
        So you can hone in on what 'you really need'. 
        You may find, as many have, that going off-grid makes you change some life habits - and is very expensive. You might want to take some of those Luxury items off the table and move some of those Needs into Wants.
      </dd>
    </dl>  
    <dl>
      <dt>Will solar save me money or the planet?</dt>
      <dd>
        Not in the short term. A grid-tied systems gives you the best chance of saving money eventually. 
        <p/>
          <em>
            Off-grid systems are expensive, not green, and won't ever save you money.
          </em>
      </dd>
    </dl>  
    <dl>
      <dt>Will I need a generator?</dt>
      <dd>
        Yes - almost always. Especially if you want to be ready for an emergency when the grid goes down (and your grid-tied system does not work).
        <p/>
        Solar is not the best thing 'for emergencies'. Even with an off-grid solar system you will need to account for weather conditions - so you will need a generator for backup and battery maintenance. I recommend a propane generator since the tanks last indefinately and are widely available.
        <p/>
        See the links below regarding generators.
      </dd>
    </dl>  
  
    <dl>
      <dt>Personal goals of Solar Plan</dt>
      <dd>
        <ol>
          <li>
            From a development perspective, get back to the basics.
            <em>I've been experiencing fatigue and frustration trying to keep up with tools and frameworks of web development, especially with Javascript. </em>
          </li>
          <li>
            Learn more about electricity and solar
          </li>
          <li>
            Find practical uses for solar - especially in warmer climates - I'm from Texas.
          </li>          
        </ol>
      </dd>
    </dl> 
    <h3> Resources </h3>
    Most of what I've learned has come from 
    <a  
      href="http://solarpaneltalk.com" target="_blank">the Solar Panel Talk forum</a>.
    <ul>
      {% var rs =  Resources ;%}
      {% for(var i = 0 ; i < rs.length ; i++){ %}
        <li><a href="{%= rs[i][1] %}">{%= rs[i][0] %}</a></li>
      {% } %}
    </ul>    
  </div>
</div>
