{% include('batt-settings', o); %}

<a name="batts"></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      Multiplier: 
      <b>{%= Watts.battsMultiplier().toLocaleString() %} </b>
    </span>
    <h3 class="panel-title">Batteries</h3>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Wh</th>
      <th width="120">kWh</th>
    </tr>
  </thead>
  <tbody>
  {% var prios = Watts.priorities; %}
  {% for(var i = 0 ; i < prios.length ; i++ ) { %}
    <tr>
      <td>{%= prios[i] %}</td>
      <td>{%= Watts.sumOfWattsBy(prios[i]).toLocaleString() %}</td>
      <td title="">
        {%= ((Watts.sumOfWattsBy(prios[i]) * Watts.battsMultiplier()) / 1000).toLocaleString() %}
      </td>
    </tr>
  {%}%}   
  </tbody>
  </table>
</div>



