{% include('batt-settings', o); %}

<a name="batts"></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      Multiplier: 
      <b>{%= Watts.battsMultiplier().toLocaleString() %} </b>
    </span>
    <h3 class="panel-title">Batteries</h3>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Watt Hours</th>
      <th title="Recommended Volts">Volts</th>
      <th> Amp hour </th>
      <th>kWh</th>
      <th width="120">Cost</th>
    </tr>
  </thead>
  <tbody>
  {% var prios = Watts.priorities; %}
  {% for(var i = 0 ; i < prios.length ; i++ ) { %}
    <tr>
      <td>{%= prios[i] %}</td>
      <td title="Watt Hour = {%= Watts.sumOfBy(prios[i])%}">{%= (Watts.sumOfBy(prios[i]) * Watts.battsMultiplier()).toLocaleString() %}</td>
      <td title="Panel Watts of {%= Panel.wattsBy(prios[i])%}">{%= Batt.voltsForPanelWatts(Panel.wattsBy(prios[i])) %}</td>
      <td>{%= Math.ceil(Watts.sumOfBy(prios[i]) / Batt.voltsForPanelWatts(Panel.wattsBy(prios[i])))%}</td>
      <td title="{%=(Watts.sumOfBy(prios[i]) * Watts.battsMultiplier()) / 1000 %}">
        {%= Math.ceil((Watts.sumOfBy(prios[i]) * Watts.battsMultiplier()) / 1000) %}
      </td>
      <td>{%= (Math.ceil((Watts.sumOfBy(prios[i]) * Watts.battsMultiplier()) / 1000) * Db.Data.CostOfBatteries).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %}</td>
    </tr>
  {%}%}   
  </tbody>
  </table>
</div>





