<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> 
      {%= o.id == 'new' ? 'New' : 'Edit' %}
      Item
    </h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" id="frmItem">
      {% include(
        'input-text', 
          {
           name: "name", 
           title: 'Name', 
           placeholder: "Name of  item", 
           type: 'text',
           value: o.name
          }); 
      %}
      {% include(
        'input-text', 
          {
           name: "watts", 
           title: 'Watts', 
           placeholder: "Watts the  item uses", 
           type: 'number',
           value: o.watts
          }); 
      %}   
      {% include(
        'input-text', 
          {
           name: "hours", 
           title: 'Hours', 
           placeholder: "Hours you expect to run the item in a day", 
           type: 'number',
           value: o.hours
          }); 
      %} 
      {% include(
        'input-select', 
          {
           name: "priority", 
           title: 'Priority', 
           placeholder: "Priority of the item", 
           value: o.priority,
           options: Watts.priorities
          }); 
      %}                  
    </form>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-2">
        {% if(o.id != 'new'){ %}
          <button type="button" class="btn btn-warning" 
                onclick="ItemsController.destroy('{%= o.id %}')">
            Delete
          </button>
        {% } %}        
      </div>
      <div class="col-sm-10">
        {% if(o.id != 'new'){ %}
         <button type="button" class="btn btn-primary" 
                onclick="ItemsController.update('{%= o.id %}')">
          Update
        </button>
        {% }  else { %}
         <button type="button" class="btn btn-primary" 
                onclick="ItemsController.create()">
          Create
        </button>
        {% } %}
        <button type="button" class="btn btn-default" 
                onclick="document.location='#/usage'">
          Cancel
        </button>  
      </div>
    </div>
  </div>
</div>