<a name="settings"></a>

<div class="panel panel-default" id="panelSettings">
  <div class="panel-heading">
     <h3 class="panel-title">Panel Settings</h3>
   </div>
   <div class="panel-body">   
      {% include('google-it', {search: 'solar panel size'}); %}

      {% 
        include('input-radio', {
            name: 'PanelSize', 
            title: 'Panel size',
            value: Db.Data.PanelSize, 
            options: [50,75,100,150,200,250,275,300,325], 
            info: 'Size of your panels in watts'
         }); 
      %} 
      <hr/>
      {% include('google-it', {search: 'solar insolation map'}); %}

      {% 
        include('input-radio', {
            name: 'Insolation', 
            value: Db.Data.Insolation, 
            options: [1,2,2.5,3,3.5,4,4.5,5,6], 
            info: 'Number of hours your region receives'
         }); 
      %} 
      <hr/>
      {% include('google-it', {search: 'solar fudge factor'}); %}

      {% 
        include('input-radio', {
            name: 'FudgeFactor', 
            title: 'Fudge Factor',
            value: Db.Data.FudgeFactor, 
            options: [1,1.1,1.25,1.4,1.5,1.75,2], 
            info: 'Acccount for inefficiencies of panels, controller, wiring, etc'
         }); 
      %}   
       
      <hr/>
      {% include('google-it', {search: 'solar cost grid-tied system'}); %}

      {% 
        include('input-radio', {
            name: 'CostForGridTiedSystem', 
            title: 'Cost of grid-tied system',
            value: Db.Data.CostForGridTiedSystem, 
            options: [2,2.5,3,3.5,4,4.5,5], 
            info: 'Per panel watt in Dollars',
            hint: "$4 is typical - but you can save money by DIY"
         }); 
      %}   

  

  </div>
</div>   
