{% include('panel-settings', o); %}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right" 
        title="Insolation * PanelSize">
          Panel Watts: <b>{%= Db.Data.PanelSize * Db.Data.Insolation %}</b>
    </div>
    <h3 class="panel-title">Panels</h3>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Watts</th>
      <th>Fudged</th>
      <th width="120"># of Panels</th>
    </tr>
  </thead>
  <tbody>
  {% var prios = Watts.priorities; %}
  {% for(var i = 0 ; i < prios.length ; i++ ) { %}
    <tr>
      <td>{%= prios[i] %}</td>
      <td>{%= Watts.sumOfWattsBy(prios[i]).toLocaleString() %}</td>
      <td>{%= (Watts.sumOfWattsBy(prios[i]) * Db.Data.FudgeFactor).toLocaleString() %}</td>
      <td>
        <span title="{%= Watts.numberOfPanels(prios[i]) %}">
          {%= Math.ceil( Watts.numberOfPanels(prios[i]))%}
        </span>
      </td>
    </tr>
  {%}%}   
  </tbody>
  </table>
</div>
