<a name="settings"></a>

<div class="panel panel-default" id="panelSettings">
  <div class="panel-heading">
     <h3 class="panel-title">Panel Settings</h3>
   </div>
   <div class="panel-body">   

      {% 
        include('input-radio', {
            name: 'PanelSize', 
            value: Db.Data.PanelSize, 
            options: [50,75,100,150,200,250,275,300,325], 
            title: 'Size of your panels in watts'
         }); 
      %} 
      <hr/>
      {% 
        include('input-radio', {
            name: 'Insolation', 
            value: Db.Data.Insolation, 
            options: [1,2,3,4,5,6], 
            title: 'Number of hours your region receives'
         }); 
      %} 
      <hr/>
      {% 
        include('input-radio', {
            name: 'FudgeFactor', 
            value: Db.Data.FudgeFactor, 
            options: [1,1.1,1.25,1.4,1.5,1.75,2], 
            title: 'Acccount for inefficiencies of panels, controller, wiring, etc'
         }); 
      %}   
       
  

  </div>
</div>   
