{% include('panel-settings', o); %}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right" 
        title="Insolation * PanelSize">
          Watt Hours per Panel: <b>{%= Panel.sunWattHours() %}</b>
    </div>
    <h3 class="panel-title">Panels</h3>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Watt Hours</th>
      <th 
        title="x {%= Db.Data.FudgeFactor%} adjusted for Fudge Factor">Fudged</th>
      <th width="120"># of Panels</th>
      <th title="#  of Panels x Panel size">Panel Watts</th>
      <th>Grid-Tied Cost</th>
    </tr>
  </thead>
  <tbody>
  {% var prios = Watts.priorities; %}
  {% for(var i = 0 ; i < prios.length ; i++ ) { %}
    <tr>
      <td>{%= prios[i] %}</td>
      <td>{%= Watts.sumOfBy(prios[i]).toLocaleString() %}</td>
      <td>{%= Panel.fudgedWattsBy(prios[i]).toLocaleString() %}</td>
      <td>{%= Math.ceil(Panel.numberBy(prios[i]))%}</td>
      <td>{%= Panel.wattsBy(prios[i]).toLocaleString() %}</td>
      <td>{%= (Panel.wattsBy(prios[i]) * Db.Data.CostForGridTiedSystem).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %}</td>

    </tr>
  {%}%}   
  </tbody>
  </table>
</div>


