
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" id="mypanelLabel">Save</h4>
  </div>
  <div class="panel-body">
      <div class="alert alert-info .alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>
           Your changes are saved automatically via localstorage in your browser. However, if you want to permanantly save your plan's data, or share it with others, copy the text below.
        </p>
        <p>
          If you have a copy that you want to use, paste it below and click the 'Update' button.
        </p>
      </div>
        <textarea rows="30" cols="70" id="txtJson" style="width:100%">{%=JSON.stringify(o, null, 2)%}</textarea>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-danger pull-left" onclick="Db.reset()">
      Reset
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" onclick="Db.update()">Update</button>
      <button type="button" class="btn btn-default" onclick="document.location='#/usage'">Cancel</button>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
{% if(typeof Version != 'undefined') { %}
  {% include('versions', o); %}
{% } %}

