<a name="settings"></a>

<div class="panel panel-default" id="panelSettings">
  <div class="panel-heading">
     <h3 class="panel-title">Settings</h3>
   </div>
   <div class="panel-body">
      {% 
        // FIXME: Having to use App.Db rather than Db
        include('rdo', {
            name: 'Insolation', 
            value: App.Db.Insolation, 
            options: [1,2,3,4,5,6], 
            title: 'Number of hours your region receives'
         }); 
      %} 
      <hr/>
      {% 
        include('rdo', {
            name: 'Fudge', 
            value: App.Db.Fudge, 
            options: [1,1.25,1.5,1.75,2], 
            title: 'Fudge Factor - Acccount for (panels,controller) inefficiencies'
         }); 
      %}     
      <hr/>
      {% 
        include('rdo', {
            name: 'Discharge', 
            value: App.Db.Discharge, 
            options: [10, 20, 30, 40, 50, 60, 70, 80, 90], 
            title: 'Percentage you intend to discharge your batteries'
         }); 
      %}  
      <hr/>
      {% 
        include('rdo', {
            name: 'PanelSize', 
            value: App.Db.PanelSize, 
            options: [50,75,100,150,200,250,275,300,325], 
            title: 'Size of your panels in watts'
         }); 
      %}
      <hr/>
      {% 
        include('rdo', {
            name: 'Autonomy', 
            value: App.Db.Autonomy, 
            options: [1,2,3,4,5], 
            title: 'How many days your batteries can go without sun'
         }); 
      %} 



  </div>
</div>      