<a name="totals"></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-plus pull-right" 
          onclick="$(this).parents('.panel').find('table').toggle()"></span>
    <h3 class="panel-title">Totals by Priority</h3>
  </div>
  <table class="table table-striped" style="display:none">
    <thead>
      <tr>
        <th>Priority</th>
        <th></th>
        <th width="140">Watt Hours</th>    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Need</td>
        <td></td>
        <td>{%= App.wattsBy('Need').toLocaleString() %}</td>
      </tr>
      <tr>
        <td>Want</td>
        <td align="right">({%= App.wattsBy('Need').toLocaleString() %} + {%= App.wattsBy('Want').toLocaleString() %})</td>
        <td>{%= (App.wattsBy('Need') + App.wattsBy('Want')).toLocaleString() %}</td>
      </tr>    
      <tr>
        <td>Luxury</td>
        <td align="right">
         (
          {%= App.wattsBy('Need').toLocaleString() %} + 
          {%= App.wattsBy('Want').toLocaleString() %} + 
          {%= App.wattsBy('Luxury').toLocaleString() %} 
          )
          </td>
        <td>{%= (App.wattsBy('Need') + App.wattsBy('Want') + App.wattsBy('Luxury')).toLocaleString() %}</td>
      </tr>         
    </tbody>
  </table>
</div>